@include responsive(tablet) {

	.thunder--customer-reviews {

		.thunder--customer-review {

			width: 49%;
			margin-right: 2%;

			&:nth-child(2n) {
				margin-right: 0;
			}

			&:nth-child(3n) {
				margin-right: 2%;
			}

		}

	}

}