@include responsive(tablet) {

	.thunder--cart-items {

		tbody tr {
			th, td {
				padding-top: 8px;
				padding-bottom: 8px;
			}
		}

		.thunder--cart-item-thumbnail-container {
			width: 90px;
		}

	}

}