.thunder--login-form-wrapper {

	max-width: 280px;
	margin: 0 auto;

	h2 {
		margin: 0 0 12px 0;
		font-size: 24px;
	}

	.thunder--login-form {

		& > div {
			margin-bottom: 12px;
		}

		.thunder--form-actions {
			.thunder--button {
				width: 100%;
			}
		}

		.thunder--password-action {
			margin-top: 3px;
			text-align: right;
			.thunder--go-to-reset-password {
				display: inline-block;
				font-size: 13px;
			}
		}

	}

}