.thunder--checkout-success {

	text-align: center;

	& > h2 {
		margin-bottom: 36px;
	}

	& > h3 {
		margin-bottom: 8px;
	}

	table {
		max-width: 360px;
		margin: 8px auto 24px auto;
		padding-top: 8px;
		border-top: #ddd 1px solid;
		text-align: left;
		font-size: 15px;

		tbody {
			tr {
				td {
					padding: 0 8px;
					&:first-child {
						color: #999;
					}
				}
			}
		}
	}

	.thunder--checkout-success-actions {
		margin-top: 48px;
	}

}