.thunder--logout-wrap {
	text-align: right;
	.thunder--logout {
		display: inline-block;
	}
}

.thunder--customer-dashboard {

	.thunder--customer-dashboard-nav {

		margin: 0 0 28px 0;
		padding: 0 0 14px 0;
		border-bottom: #eaeaea 1px solid;

		li {
			margin: 0 24px 0 0;
			list-style: none;
			display: inline-block;
			font-size: 15px;
			color: #555;
			cursor: pointer;
			&:hover {
				color: #000;
			}
			&.active {
				font-weight: bold;
			}
		}

	}

}