@include responsive(tablet) {

	.thunder--customer-dashboard {

		.thunder--customer-dashboard-nav {

			li {
				box-sizing: border-box;
				margin-bottom: 10px;
				margin-right: 1.33333%;
				padding: 4px;
				width: 24%;
				border: #ddd 1px solid;
				border-radius: 4px;
				text-align: center;
				font-size: 14px;
				&:nth-child(4n) {
					margin-right: 0;
				}
				&.active {
					border-color: #aaa;
					font-weight: normal;
				}
			}

		}

	}

}