@import '../node_modules/balloon-css/src/balloon.scss';
@import '../node_modules/pikaday/scss/pikaday.scss';
@import './setting.scss';
@import './theme.scss';

[data-thunder-open],
[data-thunder-close],
[data-thunder-render-target],
[data-thunder-logout] {
	cursor: pointer;
}

.thunder--overflow-fix {
	overflow-y: hidden !important;
}

.thunder--contents {

	@import './custom-normalize.scss';
	@import './formalize.scss';

	@import './modules/cart/style.scss';
	@import './modules/cart/style.tablet.scss';
	@import './modules/cart/style.mobile.scss';
	@import './modules/checkout/style.scss';
	@import './modules/checkout/style.tablet.scss';
	@import './modules/checkout/style.mobile.scss';
	@import './modules/checkout-success/style.scss';
	@import './modules/search-purchase/style.scss';
	@import './modules/order-list/style.scss';
	@import './modules/order-list/style.tablet.scss';
	@import './modules/order-list/style.mobile.scss';
	@import './modules/order-detail/style.scss';
	@import './modules/order-detail/style.tablet.scss';
	@import './modules/order-detail/style.mobile.scss';
	@import './modules/order-request-refund/style.scss';
	@import './modules/order-request-refund/style.tablet.scss';
	@import './modules/order-request-refund/style.mobile.scss';
	@import './modules/subscription-list/style.scss';
	@import './modules/subscription-list/style.tablet.scss';
	@import './modules/subscription-list/style.mobile.scss';
	@import './modules/subscription-detail/style.scss';
	@import './modules/subscription-detail/style.tablet.scss';
	@import './modules/subscription-detail/style.mobile.scss';
	@import './modules/payment-form/style.scss';
	@import './modules/customer-coupons/style.scss';
	@import './modules/customer-coupons/style.mobile.scss';
	@import './modules/customer-dashboard/style.scss';
	@import './modules/customer-dashboard/style.tablet.scss';
	@import './modules/customer-dashboard/style.mobile.scss';
	@import './modules/customer-delete-account/style.scss';
	@import './modules/customer-login/style.scss';
	@import './modules/customer-register/style.scss';
	@import './modules/customer-reset-password/style.scss';
	@import './modules/customer-update-address/style.scss';
	@import './modules/customer-update-credential/style.scss';
	@import './modules/customer-update/style.scss';
	@import './modules/customer-verification/style.scss';
	@import './modules/customer-reviews/style.scss';
	@import './modules/customer-reviews/style.tablet.scss';
	@import './modules/customer-reviews/style.mobile.scss';
	@import './modules/customer-review/style.scss';
	@import './modules/customer-review/style.mobile.scss';
	@import './modules/customer-review-comments/style.scss';
	@import './modules/customer-review-comment/style.scss';
	@import './modules/product-list/style.scss';
	@import './modules/product-list/style.tablet.scss';
	@import './modules/product-list/style.mobile.scss';
	@import './modules/product-detail/style.scss';
	@import './modules/product-detail/style.tablet.scss';
	@import './modules/product-detail/style.mobile.scss';
	@import './modules/product-review/style.scss';
	@import './modules/product-review/style.mobile.scss';
	@import './modules/product-reviews/style.scss';
	@import './modules/product-reviews/style.mobile.scss';
	@import './modules/product-review-writer/style.scss';
	@import './modules/product-review-comments/style.scss';
	@import './modules/product-review-comments/style.mobile.scss';

	* {
		line-height: 1.6;
	}

	label {
		input[type="checkbox"] {
			position: relative;
			top: 2px;
		}
	}

	.first {
		margin-left: 0 !important;
	}

	.last {
		margin-right: 0 !important;
	}

	.sticky {
		position: sticky;
		top: 0;
		z-index: 5;
	}

	.hidden {
		display: none;
	}

	input[type="text"],
	input[type="number"] {
		border: #cacaca 1px solid;
	}

	[readonly] {
		pointer-events: none;
	}

	.thunder--component-spinner-wrapper {

		margin: 48px 0;
		width: 100%;
		text-align: center;

		.thunder--component-spinner {
			display: inline-block;
			width: 50px;
			height: 50px;
			border: 3px solid #eee;
			border-radius: 50%;
			border-top-color: #666;
			animation: spin .8s ease-in-out infinite;
		}

	}

	.thunder--section-spinner-wrapper {

		margin: 24px 0;
		width: 100%;
		text-align: center;

		.thunder--section-spinner {
			display: inline-block;
			width: 25px;
			height: 25px;
			border: 3px solid #eee;
			border-radius: 50%;
			border-top-color: #666;
			animation: spin .8s ease-in-out infinite;
		}

	}

	.thunder--button-spinner {
		display: inline-block;
		width: 12px;
		height: 12px;
		border: 3px solid rgba(180, 180, 180, .6);
		border-radius: 50%;
		border-top-color: #fff;
		animation: spin .8s ease-in-out infinite;
	}

}

#thunder--overlay-background {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9998;
	background-color: rgba(0, 0, 0, 0.15);

	&.hidden {
		display: none;
	}
}

#thunder--overlay {
	overflow: auto;
	overflow-x: hidden;
	position: fixed;
	z-index: 9999;
	margin: auto;
	background-color: #fff;
	border: #dedede 1px solid;
	border-radius: 4px;
	font-size: 14px; // base font size

	padding: 48px 3% 48px 3%;
	top: 3%;
	bottom: 3%;
	left: 20%;
	right: 20%;

	@include responsive(laptop) {
		padding: 48px 3% 48px 3%;
		left: 14%;
		right: 14%;
	}

	@include responsive(big-tablet) {
		padding: 48px 3% 48px 3%;
		top: 3%;
		bottom: 3%;
		left: 3%;
		right: 3%;
	}

	@include responsive(tablet) {
		padding: 48px 3% 48px 3%;
		top: 3%;
		bottom: 3%;
		left: 3%;
		right: 3%;
	}

	@include responsive(mobile) {
		padding: 48px 5% 48px 5%;
		top: 8px;
		bottom: 8px;
		left: 8px;
		right: 8px;
	}

	&.hidden {
		display: none;
	}

	.sticky {
		top: -48px;
	}

	.thunder--component-spinner-wrapper {
		position: absolute;
		top: 48%;
		margin: -27px;
	}
}

#thunder--overlay-header {

	@include clearfix;

	position: fixed;
	top: 3%;
	right: 20%;
	z-index: 9999;
	padding-right: 32px;

	@include responsive(laptop) {
		right: 14%;
	}

	@include responsive(big-tablet) {
		top: 3%;
		right: 3%;
	}

	@include responsive(tablet) {
		top: 3%;
		right: 3%;
		padding-right: 20px;
	}

	@include responsive(mobile) {
		top: 8px;
		right: 8px;
		padding-right: 20px;
	}

	.thunder--overlay-nav {
		float: right;
		font-size: 32px;
		color: #888;

		& > span {
			display: inline-block;
			color: #a9a9a9;
			&:hover {
				color: #222;
			}
		}
	}

}

#thunder--overlay-body {
	clear: both;
}

.thunder--text-box-overlay {
	overflow: auto;
	overflow-x: hidden;
	position: fixed;
	z-index: 10000;
	margin: auto;
	background-color: #fff;
	border: #eaeaea 1px solid;
	border-radius: 4px;
	font-size: 14px; // base font size
	box-shadow: #000 0px 0px 36px -28px;

	padding: 48px 3% 48px 3%;
	top: 14%;
	bottom: 14%;
	left: 30%;
	right: 30%;

	@include responsive(laptop) {
		padding: 48px 3% 48px 3%;
		left: 24%;
		right: 24%;
	}

	@include responsive(big-tablet) {
		padding: 48px 3% 48px 3%;
		top: 14%;
		bottom: 14%;
		left: 13%;
		right: 13%;
	}

	@include responsive(tablet) {
		padding: 48px 3% 48px 3%;
		top: 14%;
		bottom: 14%;
		left: 13%;
		right: 13%;
	}

	@include responsive(mobile) {
		padding: 48px 6% 48px 6%;
		top: 8px;
		bottom: 8px;
		left: 8px;
		right: 8px;
	}

	.thunder--text-box-overlay-header {
		position: fixed;
		z-index: 10001;
		top: 14%;
		left: 30%;
		right: 30%;
		padding: 4px 4% 4px 4%;
		text-align: right;
		@include responsive(laptop) {
			left: 24%;
			right: 24%;
			padding: 4px 4% 4px 4%;
		}
		@include responsive(big-tablet) {
			top: 14%;
			left: 13%;
			right: 13%;
			padding: 4px 4% 4px 4%;
		}
		@include responsive(tablet) {
			top: 14%;
			left: 13%;
			right: 13%;
			padding: 4px 4% 4px 4%;
		}
		@include responsive(mobile) {
			top: 8px;
			left: 8px;
			right: 8px;
			padding: 0 20px 0 20px;
		}
		.thunder--text-box-overlay-close {
			font-size: 32px;
			color: #a9a9a9;
			cursor: pointer;
			&:hover {
				color: #222;
			}
		}

	}

}

.thunder--social-app-actions {

	margin: 24px 0 0 0;
	padding: 24px 0 0 0;
	border-top: #eaeaea 1px solid;

	li {
		margin: 0 0 14px 0;
		padding: 0;
		list-style: none;
	}

	[data-social-app] {
		@include clearfix;

		box-sizing: border-box;
		width: 100%;
		padding: 6px;
		background: none;
		border-radius: 4px;
		font-size: 15px;
		text-shadow: none;
		&:hover {
			background: none;
		}

		.thunder--social-app-logo {
			display: inline-block;
			padding: 0 9px 0 3px;
			float: left;

			svg {
				position: relative;
				top: 3px;
			}
		}

		.thunder--social-app-button-message {
			position: relative;
			top: 2px;
		}
	}

	[data-social-app="facebook"] {
		background-color: #4267B2;
		border: darken(#4267B2, 5%) 1px solid;
		color: #FFF;
		&:hover,
		&:active {
			background-color: darken(#4267B2, 5%);
		}
		.thunder--social-app-logo {
			border-right: darken(#4267B2, 9%) 1px solid;
		}
	}
	[data-social-app="google"] {
		background-color: #FFF;
		border: #aaa 1px solid;
		color: #757575;
		&:hover,
		&:active {
			background-color: darken(#FFF, 2%);
		}
		.thunder--social-app-logo {
			border-right: darken(#FFF, 10%) 1px solid;
		}
	}
	[data-social-app="instagram"] {
		background-color: #D93175;
		border: darken(#D93175, 5%) 1px solid;
		color: #FFF;
		&:hover,
		&:active {
			background-color: darken(#D93175, 5%);
		}
		.thunder--social-app-logo {
			border-right: darken(#D93175, 9%) 1px solid;
		}
	}
	[data-social-app="naver"] {
		background-color: #1EC800;
		border: darken(#1EC800, 2%) 1px solid;
		color: #FFF;
		&:hover,
		&:active {
			background-color: darken(#1EC800, 2%);
		}
		.thunder--social-app-logo {
			border-right: darken(#1EC800, 5%) 1px solid;
		}
	}
	[data-social-app="kakao"] {
		background-color: #FFEB00;
		border: darken(#FFEB00, 2%) 1px solid;
		color: #3C1E1E;
		&:hover,
		&:active {
			background-color: darken(#FFEB00, 2%);
		}
		.thunder--social-app-logo {
			border-right: darken(#FFEB00, 6%) 1px solid;
		}
	}

}

.thunder--form-useful-actions {

	margin: 18px 0 0 0;
	padding: 0;

	li {
		list-style: none;
		margin: 0 0 6px 0;
		padding: 0;
		font-size: 13px;
	}

}