.thunder--customer-delete-account-form-wrapper {

	max-width: 280px;
	margin: 0 auto;

	h2 {
		margin: 0 0 12px 0;
		font-size: 24px;
	}

	.thunder--customer-delete-account-form {

		& > div {
			margin-bottom: 12px;
		}

		.thunder--form-actions {
			.thunder--button {
				width: 100%;
			}
		}

	}

}