.thunder--register-form-wrapper {

	max-width: 280px;
	margin: 0 auto;

	h2 {
		margin: 0 0 12px 0;
		font-size: 24px;
	}

	.thunder--register-form {

		& > div {
			margin-bottom: 12px;
		}

		.thunder--customer-birthdate {

			input[type="text"] {
				margin-right: 8px;
			}

			input[name="birthYear"] {
				width: 48px;
			}

			input[name="birthMonth"],
			input[name="birthDate"] {
				width: 36px;
			}


		}

		[data-agreement-scope] {
			margin-bottom: 10px;
			label {
				margin-bottom: 0;
				font-size: 13px;
				color: #424242;
				cursor: pointer;
				&:after {
					content: '';
					display: block;
					margin-top: -2px;
				}
			}
			input[type="checkbox"] {
				margin-right: 4px;
			}
			a {
				font-size: 12px;
			}
			&[data-agreement-scope="all"] {
				margin-top: 18px;
				padding-top: 18px;
				border-top: #eaeaea 1px solid;
				label {
					font-weight: bold;
					color: #2c2c2c;
				}
			}
			& + :not([data-agreement-scope]) {
				margin-top: 18px;
				padding-top: 18px;
				border-top: #eaeaea 1px solid;
			}
		}

		.thunder--form-actions {
			.thunder--button {
				width: 100%;
			}
		}

	}

}